# Dependencies
**/node_modules/

# Remotion renders
video/output.mp4
video/output-portrait.mp4

# Operating System Files
.DS_Store
Thumbs.db

# Build artifacts and logs
dist/
out/
build/
.cache/
.parcel-cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
